@use "sass:map";
@use "../baseline/bootstrap";
@use "../baseline/typography";
@use "../baseline/functions";
@use "../baseline/theme";

.main-content {
  width: 100%;
  position: relative;

  > section {
    padding: functions.rem(60) functions.rem(25) functions.rem(40)
      functions.rem(40);

    background-color: map.get(theme.$colors, main, grey);

    width: 100%;
  }
}

.section-indication {
  position: absolute;
  top: 0;
  left: 0;

  width: functions.rem(45);
  height: 100%;

  z-index: 4;
  // background-color: black;

  justify-content: flex-start;
  align-items: flex-start;

  padding: functions.rem(15);

  > .text {
    position: relative;
    top: 0;
    left: 0;

    justify-content: flex-start;

    width: 100%;

    rotate: 90deg;

    color: white;

    font-weight: 600;

    white-space: nowrap;
  }
}

section.about {
  width: 100%;

  gap: functions.rem(35);

  > span {
    width: max(80%, functions.rem(300));

    font-weight: 400;
  }
}

.scrolling-topic {
  width: 100%;

  flex-flow: row;
  flex-flow: nowrap;

  justify-content: flex-start;
  align-items: flex-start;

  gap: functions.rem(50);

  min-height: 100vh;

  overflow: hidden;

  > .topics {
    justify-content: flex-end;

    flex-grow: 1;
    flex-shrink: 0;

    position: relative;

    width: max(55%, functions.rem(400));

    > .interactor {
      position: absolute;
      top: 0;

      z-index: 2;

      width: 100%;
      height: calc((2.1rem + 14.4 * (100vw - 22.5rem) / 1560) * 1.2);

      mix-blend-mode: color;
      background-color: map.get(theme.$colors, main, black);
    }

    > .interactor:nth-of-type(2) {
      z-index: 3;

      mix-blend-mode: color-burn;
      background-color: map.get(theme.$colors, main, black);
    }

    > .topics-container {
      flex-flow: column;
      align-items: flex-end;

      font-weight: 600;
      color: map.get(theme.$colors, main, warm);

      max-height: 100%;

      > .topic {
        @include typography.font-inherit;

        color: map.get(theme.$colors, main, warm);

        text-shadow: 0px 0px functions.rem(2.5) rgba(0, 0, 0, 0.1);

        justify-content: flex-end;

        z-index: 1;
      }
    }
  }

  > .visual {
    flex-flow: column;

    flex-grow: 1;
    flex-shrink: 1;

    width: max(45%, functions.rem(400));

    height: 66vh;

    align-items: flex-start;
    justify-content: flex-start;

    position: relative;

    > .visual-container {
      gap: functions.rem(25);

      flex-flow: column;

      cursor: grab;

      > div {
        user-select: none;

        > img {
          width: functions.rem(500);
          aspect-ratio: 16 / 9;

          border: functions.rem(2) solid map.get(theme.$colors, main, black);

          border-radius: functions.rem(9);

          cursor: pointer;

          -webkit-user-drag: none;
        }
      }
    }
  }
}

section.twitch {
  .scrolling-topic > .visual {
    flex-flow: column;

    > .visual-container {
      gap: functions.rem(15);

      > div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: functions.rem(15);

        > img {
          width: functions.rem(100%);
          height: auto;

          aspect-ratio: 1/1;

          border: functions.rem(4) solid map.get(theme.$colors, main, black);

          border-radius: functions.rem(9);
        }
      }
    }
  }
}
